<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="../images/logos/favicon.ico" />
</head>

<body>
  <div class="wrapper">
    <div class="col1">
      <div class="top1">
        <div class="menu1"><i class="fas fa-bars"></i></div>
        <div class="logo1"><img src="../images/logos/csic.png" alt="logo"></div>
      </div>
      <div class="user1">
        <div class="picture1"><img src="<%=profile.photo%>" alt="<%=profile.name%>"></div>
        <div class="user_info">
          <div class="name1">
            <h2><%=profile.name%></h2><i class="fas fa-chevron-down"></i>
          </div>
          <div class="mail1"><%=profile.email%></div>
        </div>
      </div>
      <!--/user1-->
      <div class="button1">Redactar</div>
      <div class="actions1">
        <ul>
          <li class="a1_selected"><i class="fas fa-inbox"></i>Recibidos <span>9</span></li>
          <li><i class="fas fa-star"></i>Destacados</li>
          <li><i class="far fa-clock"></i>Pospuestos</li>
          <li><i class="fas fa-exclamation-circle"></i>Importantes</li>
          <li><i class="far fa-paper-plane"></i>Enviados</li>
          <li><i class="far fa-file"></i>Borradores<span>2</span></li>
        </ul>
      </div>
      <!--/actions1-->

      <div class="contacts">
        <div class="contact">
          <div class="picture2"><img src="<%=profile.photo%>" alt="<%=profile.name%>"></div>
          <div class="contact_info">
            <div class="name2">Contacto 1<span class="online"></span></div>
            <div class="mail2">Bla b la bla bla ...</div>
          </div>
        </div>
        <!--/contact-->

        <div class="contact">
          <div class="picture2"><img src="<%=profile.photo%>" alt="<%=profile.name%>"></div>
          <div class="contact_info">
            <div class="name2">Contacto 1<span class=""></span></div>
            <div class="mail2">Bla b la bla bla ...</div>
          </div>
        </div>
        <!--/contact-->

        <div class="contact">
          <div class="picture2"><img src="<%=profile.photo%>" alt="<%=profile.name%>"></div>
          <div class="contact_info">
            <div class="name2">Contacto 1<span class="online"></span></div>
            <div class="mail2">Bla b la bla bla ...</div>
          </div>
        </div>
        <!--/contact-->

        <div class="contact">
          <div class="picture2"><img src="<%=profile.photo%>" alt="<%=profile.name%>"></div>
          <div class="contact_info">
            <div class="name2">Contacto 1<span class="offline"></span></div>
            <div class="mail2">Bla b la bla bla ...</div>
          </div>
        </div>
        <!--/contact-->

        <div class="contact">
          <div class="picture2"><img src="<%=profile.photo%>" alt="<%=profile.name%>"></div>
          <div class="contact_info">
            <div class="name2">Contacto 1<span class="offline"></span></div>
            <div class="mail2">Bla b la bla bla ...</div>
          </div>
        </div>
        <!--/contact-->

      </div>
      <!--/contacts-->
    </div>
    <!--/col1-->

    <div class="col2">
      <!-- <h1><%= title %></h1>
        <h2><%=profile.name%></h2>-->
      <div class="col2_top">
        <div class="searchbar"><input type="text" placeholder="Buscar..."></div>
        <div class="icons">
          <i class="fas fa-sync-alt"></i>
          <i class="far fa-trash-alt"></i>
        </div>
      </div>
      <div class="email_list">
        <% for (var e in emails) {
            var email = emails[e];%>

        <div class="email <%= e == locals.id ? 'selected':''%>">
          <a href="/mail/<%=e%>">
            <div class="email_header">
              <div class="name"><%= email.name %></div>
              <div class="date"><%= email.date %></div>
            </div>
            <div class="email_main">
              <div class="email_actions">
                <i class="far fa-square"></i>
                <i class="far fa-star"></i>
              </div>
              <div class="email_content">
                <div class="issue"><%= email.issue %></div>
                <div class="description"><%= email.description %></div>
                <div class="documents">
                  <div class="document">
                    <div class="icon"></div>
                    <div class="name">archivo.ext</div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <!--/email-->

        <% } %>
      </div>
      <!--/email_list-->
    </div>
    <!--/col2-->

    <div class="col3">
      <% if (locals.id !== undefined) {%>
      <div class="mail_header">
        <div class="mail_issue"><span><i class="far fa-star"></i></span>
          <h1><%- emails[locals.id].issue %></h1>
        </div>
        <div class="mail_icons">
          <i class="far fa-clock"></i>
          <i class="far fa-trash-alt"></i>
          <i class="far fa-bookmark"></i>
          <i class="fas fa-inbox"></i>
        </div>
      </div>
      <div class="mail_main">
        <div class="mail_top">
          <div class="info">
            <div class="profile_img">
              <img src="<%- emails[locals.id].picture %>" alt="">
            </div>
            <div class="contact">
              <div class="name">
                <h2><%- emails[locals.id].name %></h2><span>- <%- emails[locals.id].from %> -</span>
              </div>
              <div class="recipient">
                Para: <%=profile.email%>
              </div>
            </div>
          </div>
          <div class="date"><%- emails[locals.id].date %></div>
        </div>
        <div class="mail_content"><%- emails[locals.id].content %>
          <div class="mail_actions">
            <div class="action"><span><i class="fas fa-reply"></i></span>Responder</div>
            <div class="action"><span><i class="fas fa-share"></i></span>Reenviar</div>
          </div>
        </div>
      </div>
      <!--/mail_content-->
      <% } else { %>
      <div class="no_mail">
        <div class="nm_img">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 68.5">
            <path
              d="M13.1 7.738c-.4 0-.7.1-1 .2l36.2 32.3c.9.8 2.6.8 3.5 0L88 7.938c-.3-.1-.7-.2-1-.2H13.1zm-3.9 2.9c-.1.3-.2.7-.2 1.1v44c0 .4.1.7.2 1.1l26.8-22.2-26.8-24zm81.6 0l-26.8 24 26.8 22.2c.1-.3.2-.7.2-1.1v-44c0-.4-.1-.7-.2-1.1zM39 37.338l-26.9 22.2c.3.1.6.2 1 .2h73.8c.4 0 .7-.1 1-.2L61 37.338l-6.6 5.9c-2.5 2.2-6.3 2.2-8.8 0l-6.6-5.9z"
              fill="#d3dde4" /></svg>
        </div>
        <div class="nm_text">No has seleccionado ningún correo</div>
      </div>
      <% } %>
      <!--/mail_main-->
    </div>
    <!--/col3-->


  </div>
  <!--/wrapper-->

</body>

</html>