<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%=profile.name%></h2>
    <div>
	    <ul>
	    <% for (var e in emails) { 
	    	var email = emails[e];%> 
	    	<li class="email-item <%= e == locals.id ? 'selected':''%>""><a href="/mail/<%=e%>"><%= email.from %></a></li>
	    <% } %>
	    </ul>
    </div>

    <div>
    <% if (locals.id !== undefined) {%>
    	<%- emails[locals.id].content %>
    <% } else { %>
        <div>No has seleccionado ningún correo</div>
	<% } %>
	</div>
  </body>
</html>
